type gestures_app, domain;

app_domain(gestures_app)

allow gestures_app sysfs_gestures:file rw_file_perms;

allow gestures_app activity_service:service_manager find;
allow gestures_app ashmem_device_service:service_manager find;

allow gestures_app system_app_data_file:dir rw_dir_perms;
allow gestures_app system_app_data_file:file { rw_file_perms create rename setattr unlink };
